



<p>Productos Real Time</p>

<form action="" method="post"></form>
<div id="productosActualizados">
       
        
        

</div>





<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>